<ion-view class="account_trans_view">
  <ion-header-bar class="header_bar dark">
    <button class="button button-icon button-clear icon ion-chevron-left" id="btnBack" ng-click="goBack()">
    </button>

    <div class="title">
      Wallet
    </div>

    <!--button class="button button-icon button-clear ion-ios-gear-outline pull-right" id="btnSetting" ng-click="goSetting()">
    </button-->
  
  </ion-header-bar>

  <ion-header-bar class="bar-light bar-subheader" style="background:#000;">

      <label class="item item-input item-select" style="width:100%;">
        <select>
          <option selected>USD</option>
          <option>BTC</option>
          <option>ETH</option>
        </select>

        <div class="input-label">
          Account Value : $1324
        </div>
      </label>

  </ion-header-bar>

  <ion-content class="">
    <div class="list">
      <a class="item item-icon-right" href="">
          <div class="row">
            <div class="col-33">
              <h4 class="">Bitcoin</h4>
              <p style="color:#646464;">Buy 0.61</p>
            </div>
            <div class="col-33">
              <h4 class="">Limit Order</h4>
              <p style="color:#646464;">$422.27</p>
            </div>
            <div class="col-33">
              <h4 class="filled">Filled</h4>
              <p style="color:#646464;">0.61</p>
            </div>
            <i class="icon ion-record" style="color:#009688;"></i>
          </div>
      </a>

      <a class="item item-icon-right" href="">
          <div class="row">
            <div class="col-33">
              <h4 class="">Etherium</h4>
              <p style="color:#646464;">Buy 7.31</p>
            </div>
            <div class="col-33">
              <h4 class="">Market Order</h4>
              <p style="color:#646464;">$12.64</p>
            </div>
            <div class="col-33">
              <h4 class="filled">Filled</h4>
              <p style="color:#646464;">7.31</p>
            </div>
            <i class="icon ion-record" style="color:#009688;"></i>
          </div>
      </a>

      <a class="item item-icon-right" href="">
          <div class="row">
            <div class="col-33">
              <h4 class="">Bitcoin</h4>
              <p style="color:#646464;">Rx 1.200</p>
            </div>
            <div class="col-33">
              <h4 class="">Receive Vale</h4>
              <p style="color:#646464;">= $501</p>
            </div>
            <div class="col-33">
              <h4 class="cleared">Cleared</h4>
              <p style="color:#646464;"></p>
            </div>
            <i class="icon ion-record" style="color:#009688;"></i>
          </div>
      </a>

      <a class="item item-icon-right" href="">
          <div class="row">
            <div class="col-33">
              <h4 class="">Bitcoin</h4>
              <p style="color:#646464;">Buy 0.4100</p>
            </div>
            <div class="col-33">
              <h4 class="">Limit Order</h4>
              <p style="color:#646464;">= $422.18</p>
            </div>
            <div class="col-33">
              <h4 class="open">Open</h4>
              <p style="color:#646464;">0.31010</p>
            </div>
            <i class="icon ion-navicon-round" style="color:black;"></i>
          </div>
      </a>

      <a class="item item-icon-right" href="">
          <div class="row">
            <div class="col-33">
              <h4 class="">Bitcoin</h4>
              <p style="color:#646464;">Buy 0.4100</p>
            </div>
            <div class="col-33">
              <h4 class="">Limit Order</h4>
              <p style="color:#646464;">= $422.18</p>
            </div>
            <div class="col-33">
              <h4 class="open">Open</h4>
              <p style="color:#646464;">0.31010</p>
            </div>
            <i class="icon ion-navicon-round" style="color:black;"></i>
          </div>
      </a>

    </div>
  </ion-content>


</ion-view>





