
<ion-tabs class="tabs-icon-top tabs-top tabs-color-active-positive account_tabs">

  <!-- Account - Assets Tab -->
  <ion-tab title="Assets" class="assets_tab_item" href="#/tab/account/assets">
    <ion-nav-view name="account-tab-assets" class="req_nav_view"></ion-nav-view>
  </ion-tab>

  <!-- Account - Transactions Tab -->
  <ion-tab title="Transactions" class="trans_tab_item" href="#/tab/account/trans">
    <ion-nav-view name="account-tab-trans" class="req_nav_view"></ion-nav-view>
  </ion-tab>

</ion-tabs>




